@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Jardín Loris Malaguzzi

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #606060;
$secondary_color: #186987;
$tertiary_color: #6666fd;
$fourth_color: #fc0268;
$background: #d2fff5;
$border: #00c6db;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face {
	font-family: 'Lemon/Milk';
	src: url(fonts/LemonMilk.otf);
}

@font-face {
	font-family: 'DKLemonYellowSun';
	src: url(fonts/DKLemonYellowSun.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto Condensed', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	position: relative;
	z-index: 3;
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						height: 60px;
						padding: 10px 20px;
						&#menu-item-10 {
							width: 208px;
							height: 174px;
							padding: 10px 0;
							&.current-menu-item {
								a {
									border-bottom: none;
								}
							}
							a {
								width: 208px;
								height: 154px;
								padding: 0;
								background: {
									color: transparent;
									image: url(logo.png);
									position: center;
									repeat: no-repeat;
								}
								color: transparent;
							}
						}
						&.current-menu-item {
							a {
								border-bottom: 1px solid $fourth_color;
							}
						}
						a {
							padding: 10px 0;
							border-bottom: 1px solid transparent;
							font: {
								family: 'Lemon/Milk';
								size: 16px;
							}
							text-transform: uppercase;
							&:hover {
								border-bottom: 1px solid $fourth_color;
							}
						}
					}
				}
			}
		}
	}
}

/* Cloud */

.cloud {
	margin-top: -130px;
	position: relative;
	z-index: 2;
	.moduletable_cl1 {
		#a {
			padding: 140px 0 20px 0;
			background: {
				image: url(moduletable_cl1_cloud_bg.png);
				position: bottom;
				repeat: no-repeat;
			}
			a {
				margin: 0 5px;
				display: inline-block;
			}
		}
		#b {
			font: {
				family: 'DKLemonYellowSun';
				size: 24px;
			}
			color: $tertiary_color;
		}
		#c {
			padding: 120px 0 40px 0;
			background: {
				image: url(moduletable_cl1_cloud_bg.png);
				position: bottom;
				repeat: no-repeat;
			}
			a {
				font: {
					family: 'Lemon/Milk';
					size: 24px;
				}
				color: #fff;
			}
		}
	}
}

/* Banner */

.banner {
	margin-top: -70px;
	position: relative;
	z-index: 1;
	.moduletable_ba1 {}
}

.banner_sea_boat {
	width: 100%;
	height: 298px;
	margin-top: -180px;
	background: {
		image: url(banner_sea_boat_bg.png);
		position: top;
		repeat: repeat-x;
	}
	position: relative;
	z-index: 2;
}

/* Content */

.content {
	padding: 20px 0;
	h2 {
		font: {
			family: 'Lemon/Milk';
			size: 50px;
		}
	}
	h3 {
		font: {
			family: 'Lemon/Milk';
			size: 30px;
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			color: #fff;
		}
	}
	&.home {
		background: {
			color: $background;
			image: url(content_home_bg.png);
			position: bottom;
			repeat: repeat-x;
		}
		.home_1a,
		.home_1b,
		.home_1c,
		.home_1d,
		.home_2a,
		.home_2b,
		.home_2c,
		.home_2d,
		.home_3a,
		.home_3b,
		.home_3c,
		.home_3d {
			min-height: 225px;
			background: {
				image: url(content_home_plus_bg.png);
				position: bottom 10px right 10px;
				repeat: no-repeat;
			}
			color: #fff;
			h2 {
				margin: 0;
				font: {
					family: 'Lemon/Milk';
					size: 24px;
				}
			}
			p {
				margin: 0;
			}
			a {
				color: #fff;
			}
		}
		.home_1b {
			background-color: #38fd73;
		}
		.home_1d {
			background-color: $tertiary_color;
		}
		.home_2a {
			background-color: #fc0268;
		}
		.home_2c {
			background-color: #ffa500;
		}
		.home_3b {
			background-color: #9036ff;
		}
		.home_3d {
			background-color: #cad800;
		}
	}
	.box_1 {
		padding: 0 20px;
		border: 10px solid $tertiary_color;
		h1 {
			width: 300px;
			margin: auto;
			margin-bottom: 20px;
			padding: 20px 0 10px 0;
			background-color: $tertiary_color;
			-webkit-border-bottom-right-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-radius-bottomright: 10px;
			-moz-border-radius-bottomleft: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			font: {
				family: 'Lemon/Milk';
				size: 26px;
			}
			color: #fff;
		}
	}
	.box_2 {
		background-color: #d2fff5;
		color: $secondary_color;
	}
	.box_3 {
		background-color: $tertiary_color;
		color: #fff;
	}
}

/* Block 0 */

.block_0 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b01 {
		h3 {
			font: {
				family: 'Lemon/Milk';
				size: 24px;
			}
			color: $border;
		}
		.bwg_slideshow_image_wrap_0 {
			background-color: transparent !important;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	.moduletable_b11 {
		width: 50%;
		padding: 20px;
		font: {
			family: 'Lemon/Milk';
			size: 24px;
		}
		color: $border;
		float: left;
		position: relative;
		&.news {
			ul {
				margin: 0;
				list-style: none;
				li {
					padding: 10px 0;
					display: flex;
					.upw-image {
						flex-grow: 1;
					}
					.upw-content {
						padding: 0 10px;
						font: {
							family: 'Roboto Condensed', sans-serif;
							size: 14px;
						}
						flex-grow: 1;
						.post-title {
							a {
								color: $border;
							}
						}
						.post-excerpt {
							color: $primary_color;
							a {
								&.more-link {
									color: $border;
									display: block;
								}
							}
						}
					}
				}
			}
		}
		.em-calendar-wrapper {
			padding: 10px 0;
			font-size: 16px;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b21 {
		h3 {
			font: {
				family: 'Lemon/Milk';
				size: 24px;
			}
			color: $border;
		}
	}
}

/* Block 3 */

.block_3 {
	.moduletable_b31 {
		iframe {
			border: 0;
		}
	}
}

/* Bottom */

.bottom {
	background: {
		image: url(bottom_bg.png);
		position: top;
		repeat: repeat-x;
	}
	.moduletable_bo1,
	.copyright {
		font-size: 12px;
		color: $tertiary_color;
		a {
			color: $tertiary_color;
		}
	}
	.moduletable_bo1 {
		padding: 10px 0;
		.d {
			background-color: $background;
		}
	}
	.copyright {
		padding-bottom: 80px;
	}
}

/* Registro */

.moduletable_re1 {
	width: 150px;
	padding: 10px;
	top: 30%;
	right: 0;
	background-color: $border;
	position: fixed;
	z-index: 100;
	p {
		margin: 0;
		color: #fff;
		text: {
			align: center;
			transform: uppercase;
		}
		/*writing-mode: vertical-lr;
		transform: rotate(180deg);
		i {
			transform: rotate(90deg);
		}*/
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to1 {
			margin-top: 15px;
		}
		.moduletable_to2 {
			margin: 15px 0;
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					color: $secondary_color;
					text-align: center;
					button {
						&:after {
							background: $secondary_color;
							box-shadow: 0 7px 0 $secondary_color, 0 14px 0 $secondary_color;
						}
					}
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						padding-top: 10px;
						li {
							width: 100%;
							background-image: none;
							&#menu-item-10 {
								display: none;
							}
							a {
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
	}

	/* Cloud */

	.cloud {
		margin-top: 0;
		margin-bottom: 15px;
		.moduletable_cl1 {
			#pgc-w5f75f932a5974-0-0 {
				width: 50%;
				margin-bottom: 0;
				#a {
					padding: 120px 0 0 0;
					background-size: contain;
					font-size: 12px;
				}
			}
			#pgc-w5f75f932a5974-0-1 {
				display: none;
			}
			#pgc-w5f75f932a5974-0-2 {
				width: 50%;
				#c {
					padding: 110px 0 20px 0;
					background-size: contain;
					a {
						font-size: 20px;
					}
				}
			}
		}
	}

	/* Banner */

	.banner {
		margin-top: 0;
	}

	.banner_sea_boat {
		display: none;
	}

	/* Content */

	.content {
		&.home {
			#pgc-2-0-0,
			#pgc-2-0-1,
			#pgc-2-0-2,
			#pgc-2-0-3,
			#pgc-2-1-0,
			#pgc-2-1-1,
			#pgc-2-1-2,
			#pgc-2-1-3,
			#pgc-2-2-0,
			#pgc-2-2-1,
			#pgc-2-2-2,
			#pgc-2-2-3 {
				margin-bottom: 0;
				.home_1a,
				.home_3a {
					min-height: inherit;
				}
			}
			img {
				width: 100%;
			}
		}
		.box_1 {
			h1 {
				width: inherit;
			}
		}
	}

	/* Block 1 */

	.block_1 {
		.moduletable_b11 {
			width: 100%;
			float: none;
		}
	}

	/* Bottom */

	.bottom {
		background: {
			color: $background;
			image: none;
		}
		.copyright {
			padding: 30px;
		}
	}

	/* Registro */

	.moduletable_re1 {
		display: none;
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {

	/* Block 1 */

	.block_1 {
		.moduletable_b11 {
			&.news {
				width: 100%;
				ul {
					li {
						width: 50%;
						float: left;
						position: relative;
					}
				}
			}
		}
	}

}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}